
.sos_icon {
	background-image: url('./sos_icon.svg');
	background-repeat:no-repeat;
    background-position: center center;
}

.cm-sos-interpolated {
	 background-color: #ebf9e8;
}
.cm-sos-sigil {
	background-color: #ebf9e8;
}
.cm-sos-unmatched {
	background-color: orange;
}
/*
.cm-sos-script {
	font-style: normal;
}

.cm-sos-option {
	font-style: italic;
} */
