
.sos_icon {
	background-image: url('./sos_icon.svg');
	background-repeat:no-repeat;
    background-position: center center;
}
/*
.cm-sos-interpolated {
	background-color: #CCD1D1;
}

.cm-sos-script {
	font-style: normal;
}

.cm-sos-option {
	font-style: italic;
} */
