
.sos_icon {
	background-image: url('./sos_icon.svg');
	background-repeat:no-repeat;
    background-position: center center;
}

/* .cm-sos-interpolated {
	 text-decoration: underline;
} */
.cm-sos-sigil {
	color: blue;
	font-weight:bold;
}
/*
.cm-sos-script {
	font-style: normal;
}

.cm-sos-option {
	font-style: italic;
} */
